@model HospitalSystem.Core.Entities.Doctor

<h2>Doctor Details</h2>

<div>
    <h4>Name: @Model.FullName</h4>
    <p><strong>Zip Code:</strong> @Model.ZipCode</p>
    <p><strong>City:</strong> @Model.City</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Date of Birth:</strong> @Model.DateOfBirth.ToShortDateString()</p>
    <p><strong>Age:</strong> @Model.Age() years</p>
    
        <img src="~/Images/Doctors/@Model.Img" alt="Profile Image" width="100" height="100" />
  
</div>

<hr />
@* 
<h4>Medical Records</h4>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.MedicalRecords)
        {
            if (record == null)
            {
                <p>there is no medical records</p>
            }
            else
            {
                <tr>
                    <td>@record.PatientID</td>

                    <td>@record.Treatment</td>
                    <td>@record.Diagnosis</td>
                    <td>@record.DateOfEntry</td>

                </tr>
            }
           
        }
    </tbody>
</table>

<h4>Appointments</h4>
<table class="table">
    <thead>
        <tr>
            <th>Status</th>

            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            if (appointment != null)
            {
                <tr>
                    <td>@appointment.Status</td>
                    <td>@appointment.StartDateTime</td>
                    <td>@appointment.EndDateTime</td>
                </tr>
            }
            else
            {
                <p>there is no appointment</p>

            }
        }
    </tbody>
</table>

<h4>Nurses</h4>
<ul>
    @foreach (var nurse in Model.Nurses)
    {
        if(nurse != null)
        {
            <li>@nurse.Name</li>

        }
        else
        {
            <p> there is no nurses</p>
        }
    }
</ul>
 *@
<div>
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
