@model MedicalRecord

@{
    ViewData["Title"] = "Medical Record Details";
}

<div class="main-wrapper">
    <div class="page-wrapper">
    <div class="fav d-flex justify-content-center my-2 text-center">
        <img src="~/assets/img/logo-dark.png">
    </div>
    <div class="container">
        <div class="form-container">
            <h3 class="form-header fw-semibold my-3">Medical Record Details</h3>
            <div class="line my-2"></div>
                <div class="row">
                    <div class="form-group col-md-6 ">
                        <label>Patient's Full Name <span class="text-danger">*</span> </label>
                        <div class="d-flex gap-2 justify-content-between">
                            <div class="one">
                                <input type="text" class="form-control" value="@Model.Patient.FirstName" disabled>
                                <label class="name">First Name</label>
                            </div>
                            <div class="one pl-4">
                                <input type="text" class="form-control" value="@Model.Patient.LastName" disabled>
                                <label class="name">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Date of Birth</label>
                        <input type="text" class="form-control" value="@Model.Patient.DateOfBirth.ToShortDateString()" disabled>
                        <label class="name">Date </label>
                    </div>
                </div>
                <div class="form-group my-5">
                    <label class="my-1">Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="@Model.Patient.City" disabled>
                    <label class="name">Street Address</label>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="my-1">Phone Number <span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" value="@Model.Patient.PhoneNumber" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="my-2">E-mail Address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" value="@Model.Patient.Email" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 my-3">
                            <label for="address" class="my-2">City <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@Model.Patient.City" disabled>
                        <label class="name">City</label>
                    </div>
                <div class="form-group col-md-6 my-3">
                <label for="address" class="my-2">Zip Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="@Model.Patient.ZipCode" disabled>
                    <label class="name">Postal / Zip Code</label>
                </div>
                </div>
               
                <div class="form-section">
                    <h5>HEALTH HISTORY</h5>
                    <div class="line my-3"></div>
                    <div class="row my-4">
                        <div class="form-group col-md-6">
                            <label class="my-3 fw-bold">Height</label>
                            <input type="text" class="form-control" placeholder="e.g., 5'7">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="my-3 fw-bold">Weight</label>
                            <input type="text" class="form-control" placeholder="e.g., 123">
                        </div>
                    </div>

                    <div class="form-section">
                        <h5>FAMILY HEALTH HISTORY</h5>
                        <div class="line"></div>
                        <p class="col my-3">Information about family members.</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="empty border-0"></th>
                                    <th class="bg text-white y" style="border-radius: 10px 0 0 0;">Age</th>
                                    <th class="bg text-white">In Good Health?</th>
                                    <th class="bg text-white">Known Health Problems</th>
                                    <th class="bg text-white" style="border-radius: 0 10px 0 0;">Alive?</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="bg text-white" style="border-radius: 10px 0 0 0;">Mother</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td class="y"><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                </tr>
                                <tr>
                                    <td class="bg text-white">Father</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td class="y"><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>

                                </tr>
                                <tr>
                                    <td class="bg text-white">Brother</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td class="y"><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                </tr>

                                <tr>
                                    <td class="bg text-white">Sister</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td class="y"><select class="form-select"><option></option><option>Yes</option><option>No</option></select></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="my-3">The patient diagnosed with chronic disease:</label>
                        <select class="form-select">
                            <option>Please Select</option>
                            <option>Yes</option>
                            <option selected>No</option>
                        </select>
                    </div>
                        <div class="col-sm-12  my-5">
                                <div class="form-group">
                                    <label>Patient's health issue<span class="text-danger">*</span></label>
                                    <input asp-for="Diagnosis" class="form-control" type="text" disabled />
                                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="col-sm-12  my-5">
                                <div class="form-group">
                                    <label>Medication<span class="text-danger">*</span></label>
                                    <textarea asp-for="Treatment" class="form-control" rows="4" disabled></textarea>
                                    <span asp-validation-for="Treatment" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="col-sm-12  my-5">
                                <div class="form-group">
                                    <label>Patient's response to medication</label>
                                    <textarea asp-for="Response" class="form-control" rows="4" disabled></textarea>
                                    <span asp-validation-for="Response" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="form-group col-sm-12  my-5">
                                <label asp-for="DateOfEntry" class="control-label"></label>
                                <input asp-for="DateOfEntry" class="form-control" type="date" disabled/>
                                <span asp-validation-for="DateOfEntry" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12  my-5">
                            @if (!string.IsNullOrEmpty(@Model.DiagnosisDocument))
                            {
                                <label asp-for="DiagnosisDocument" class="control-label">Diagnosis Document: </label>
                                <a href="~/@Model.DiagnosisDocument">Diagonisis Document</a>
                            }
                        </div>
                    </div>
                </div>
    </div>
</div>