@model MedicalRecord

@{
    ViewData["Title"] = "Medical Record Details";
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Your Medical Record Details</h2>
                    <ul class="bread-list">
                        <li><a href="~/Home">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active"> Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="parent" style="min-height:2700px;">
    <div class="content">
        <div class="container">
            <br />
            <div class="form-container">
                <h3 class="form-header fw-semibold my-3">Medical Record Details</h3>
                <div class="line my-2"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Patient's Full Name <span class="text-danger">*</span></label>
                        <div class="d-flex gap-2 justify-content-between">
                            <div class="one">
                                <input type="text" class="form-control" value="@Model.Patient.FirstName" disabled>
                            </div>
                            <div class="one pl-4">
                                <input type="text" class="form-control" value="@Model.Patient.LastName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Date of Birth</label>
                        <input type="text" class="form-control" value="@Model.Patient.DateOfBirth.ToShortDateString()" disabled>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label class="my-1">Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="@Model.Patient.City" disabled>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="my-1">Phone Number <span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" value="@Model.Patient.PhoneNumber" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="my-2">E-mail Address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" value="@Model.Patient.Email" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 my-3">
                        <label for="address" class="my-2">City <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@Model.Patient.City" disabled>
                    </div>
                    <div class="form-group col-md-6 my-3">
                        <label for="address" class="my-2">Zip Code <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@Model.Patient.ZipCode" disabled>
                    </div>
                </div>

                <div class="form-section">
                    <h5>HEALTH HISTORY</h5>
                    <div class="line my-3"></div>
                    <div class="row my-4">
                        <div class="form-group col-md-6">
                            <label class="my-3 fw-bold">Height</label>
                            <input type="text" class="form-control" placeholder="e.g., 5'7">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="my-3 fw-bold">Weight</label>
                            <input type="text" class="form-control" placeholder="e.g., 123">
                        </div>
                    </div>
                </div>

                <h5>Please give information about the patient's health.</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty border-0"></th>
                            <th class="bg text-white y" style="border-radius: 10px 0 0 0;">Yes</th>
                            <th class="bg text-white" style="border-radius: 0 10px 0 0;">No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg text-white" style="border-radius: 10px 0 0 0;">Are you currently under medical care?</td>
                            <td class="y"><input asp-for="IsUnderMedicalCare" type="radio" value="true" /></td>
                            <td class="y"><input asp-for="IsUnderMedicalCare" type="radio" value="false" /></td>
                        </tr>
                        <tr>
                            <td class="bg text-white">Do you have any drug allergies?</td>
                            <td class="y"><input asp-for="HasDrugAllergies" type="radio" value="true" /></td>
                            <td class="y"><input asp-for="HasDrugAllergies" type="radio" value="false" /></td>
                        </tr>
                        <tr>
                            <td class="bg text-white">Do you have any food or environmental allergies?</td>
                            <td class="y"><input asp-for="HasFoodOrEnvironmentalAllergies" type="radio" value="true" /></td>
                            <td class="y"><input asp-for="HasFoodOrEnvironmentalAllergies" type="radio" value="false" /></td>
                        </tr>
                        <tr>
                            <td class="bg text-white">Have you ever been cared for by a mental health clinician?</td>
                            <td class="y"><input asp-for="HasMentalHealthCareHistory" type="radio" value="true" /></td>
                            <td class="y"><input asp-for="HasMentalHealthCareHistory" type="radio" value="false" /></td>
                        </tr>
                        <tr>
                            <td class="bg text-white">Have you ever restricted your eating?</td>
                            <td class="y"><input asp-for="HasRestrictedEating" type="radio" value="true" /></td>
                            <td class="y"><input asp-for="HasRestrictedEating" type="radio" value="false" /></td>
                        </tr>
                    </tbody>
                </table>

                  <div class="form-section">
                     <h5>FAMILY HEALTH HISTORY</h5>
                     <div class="line"></div>
                     <p class="col my-3">Information about family members.</p>
                     <table class="table">
                         <thead>
                             <tr>
                                 <th class="empty border-0"></th>
                                 <th class="bg text-white" style="border-radius: 10px 0 0 0;">Age</th>
                                 <th class="bg text-white">In Good Health?</th>
                                 <th class="bg text-white">Known Health Problems</th>
                                 <th class="bg text-white" style="border-radius: 0 10px 0 0;">Alive?</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td class="bg text-white" style="border-radius: 10px 0 0 0;">Mother</td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="bg text-white">Father</td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="bg text-white">Brother</td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="bg text-white">Sister</td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                                 <td><input type="text" class="form-control"></td>
                                 <td>
                                     <select class="form-select">
                                         <option></option>
                                         <option>Yes</option>
                                         <option>No</option>
                                     </select>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>

                <div class="form-group ml-2">
                    <label class="my-3">Is the patient diagnosed with chronic disease?</label>
                    <div>
                        <label>
                            <input type="radio" asp-for="PatientChronicDisease" value="true" disabled /> Yes
                        </label>
                        <label>
                            <input type="radio" asp-for="PatientChronicDisease" value="false" disabled /> No
                        </label>
                    </div>
                    <span asp-validation-for="PatientChronicDisease" class="text-danger"></span>
                </div>


                <div class="col-sm-12 my-5">
                    <div class="form-group">
                        <label>Patient's health issue<span class="text-danger">*</span></label>
                        <input asp-for="Diagnosis" class="form-control" type="text" disabled />
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 my-5">
                    <div class="form-group">
                        <label>Medication<span class="text-danger">*</span></label>
                        <textarea asp-for="Treatment" class="form-control" rows="4" disabled></textarea>
                        <span asp-validation-for="Treatment" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 my-5">
                    <div class="form-group">
                        <label>Patient's response to medication</label>
                        <textarea asp-for="Response" class="form-control" rows="4" disabled></textarea>
                        <span asp-validation-for="Response" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12 my-5">
                    <label asp-for="DateOfEntry" class="control-label"></label>
                    <input asp-for="DateOfEntry" class="form-control" type="date" disabled />
                    <span asp-validation-for="DateOfEntry" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-12 my-5">
                    @if (Model.DiagnosisDocument != null && Model.DiagnosisDocument.Length > 0)
                    {
                        <label asp-for="DiagnosisDocument" class="control-label">Diagnosis Document:</label>
                        <a href="~/@Model.DiagnosisDocument">Diagnosis Document</a>
                    }
                </div>
            </div>
        </div>
        @if (User.IsInRole("Doctor"))
        {
            <div class="my-5 text-center">
                <a class="btn btn-success fw-semibold" href="@Url.Action("RecordsByPatient", "MedicalRecord", new {id=Model.PatientID, area = "Doctors" })">Back</a>
            </div>
        }
        else if (User.IsInRole("Patient"))
        {
            <div class="my-5 text-center">
                <a class="btn btn-success fw-semibold" href="@Url.Action("Index", "MedicalRecord", new { area = "Patient" })">Back</a>
            </div>
        }

    </div>
</div>



<style>
    .form-container {
        background-color: white; /* White background for the card */
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border: 1px solid #ddd; /* Light grey border */
        border-radius: 5px; /* Rounded corners for inputs */
        padding: 10px; /* Padding inside inputs */
    }

        .form-control:focus {
            border-color: #007bff; /* Blue border on focus */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Light blue shadow on focus */
        }

    .bg {
        background-color: #007bff; /* Background color for table headers */
    }

    .text-white {
        color: white; /* White text for table headers */
    }

    .table th,
    .table td {
        padding: 10px; /* Padding for table cells */
    }

    .btn {
        background-color: #007bff; /* Button color */
        border: none; /* No border for button */
    }

        .btn:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }

    .line {
        height: 2px; /* Line height */
        background-color: #007bff; /* Line color */
        border-radius: 5px; /* Rounded corners for line */
    }
</style>