@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               AppointmentID
            </th>
            <th>
               StartDateTime
            </th>
            <th>
                EndDateTime
            </th>
            <th>
               Status
            </th>
            <th>
                PatientID
            </th>
            <th>
                DoctorID
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.AppointmentID
            </td>
            <td>
                @item.StartDateTime
            </td>
            <td>
                @item.EndDateTime
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.PatientID
            </td>
            <td>
                @item.DoctorID
            </td>
            <td>
               <a class="btn btn-dark" href="/Appoint/Appointment/Edit/@item.AppointmentID">Edit</a>
                    <a class="btn btn-primary" href="/Appoint/Appointment/Details/@item.AppointmentID">Details</a>
                    <a class="btn btn-danger" href="/Appoint/Appointment/Delete/@item.AppointmentID">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
