@model Doctor

<div class="content">
    <div class="container">
        <div class="row">
            <br />
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="~/@Model.Img" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">@Model.FullName</h3>
                                        <small class="text-muted">@Model.Department</small>
                                        <div class="staff-id">Employee ID : @Model.Id</div>
                                        <div class="staff-msg"><a href="mailto:@Model.Email" class="btn btn-primary">Send Message</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#">@Model.PhoneNumber</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="mailto:@Model.Email">@Model.Email</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Birthday:</span>
                                            <span class="text">@Model.DateOfBirth.ToShortDateString()</span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text">@Model.Country - @Model.City</span>
                                        </li>
                                        <li>
                                            <span class="title">Gender:</span>
                                            <span class="text">@Model.Gender</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Education Informations</h3>
                                <div class="experience-box">
                                    <ul class="experience-list">
                                        @if (Model.Educations != null)
                                        {
                                            @foreach (var education in Model.Educations)
                                            {
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">@education.Institution</a>
                                                            <div>@education.Degree</div>
                                                            <span class="time">@education.StartYear - @education.EndYear</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="m-b-30 m-t-50 d-flex justify-content-center align-items-center">
    <a href="/Doctors/Profile/Edit" class="btn btn-primary">Edit Profile</a>
</div>


