@using X.PagedList
@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<NewsPost>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Our News</h2>
                    <ul class="bread-list">
                        <li><a href="~/Home">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">News</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="post-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 mb-4">
                        <div class="card single_post">
                            <div class="body-cart">
                                <div class="img-post">
                                    <img class="d-block img-fluid" src="@item.PostImg" alt="Post Image" />
                                </div>
                                <div class="post-info">
                                    @if (item.User.Img == null)
                                    {
                                        <img src="~/img/person.png" alt="User Photo" class="user-photo" />
                                    }
                                    else
                                    {
                                        <img src="@item.User?.Img" alt="User Photo" class="user-photo" />
                                    }
                                    <span class="user-name">Posted by: @item.User.FullName</span>
                                    <span class="post-date">on @item.DatePosted.ToString("MMMM dd, yyyy hh:mm tt")</span>
                                </div>
                                <h3 class="text-center"><a href="blog-details.html">@item.Title</a></h3> <!-- Center the title -->
                                <p class="post-content">@item.Content</p>

                                @if (!User.IsInRole(UserRoles.Patient.ToString()))
                                {
                                    <a class="dropdown-item delete-link" data-toggle="modal" data-target="#delete_patient_@item.Id" style="font-size: 14px;">
                                        <i class="fa fa-trash-o m-r-5"></i> Delete
                                    </a>
                                }
                            </div>
                        </div>
                        <div id="delete_patient_@item.Id" class="modal fade delete-modal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                                        <h3 style="font-size: 16px;">Are you sure you want to delete this Post?</h3>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-white close-button" data-dismiss="modal" style="font-size: 12px;">Close</button>
                                            <form asp-action="ConfirmDelete" method="post" style="display:inline;">
                                                <input type="hidden" name="id" value="@item.Id" />
                                                <button type="submit" class="btn btn-danger" style="font-size: 14px;">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div style="margin-top: 20px; text-align: center;">
                @if (Model.HasPreviousPage)
                {
                    <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="btn btn-outline-primary">Previous</a>
                }
                @if (Model.HasNextPage)
                {
                    <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="btn btn-outline-primary">See More</a>
                }
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole("Nurse") || User.IsInRole(UserRoles.Doctor.ToString()))
{
    <div class="card-form-button">
        <div class="body-form">
            <form asp-action="Index" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="Title" id="post-title" class="form-control" placeholder="Title" required />
                </div>
                <div class="form-group">
                    <textarea id="post-content" class="form-control" name="Content" placeholder="Content" required></textarea>
                </div>
                <div class="form-group">
                    <input type="file" id="post-image" class="form-control-file" name="postImage" />
                </div>
                <button type="submit" class="btn btn-royalblue">Add Post</button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<style>
    .post-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .single_post .body {
        padding: 20px;
        margin-left: 15px;
    }

    h3 {
        margin-left: 15px;
        font-size: 18px;
    }

    .post-content {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .delete-link {
        font-size: 14px;
        color: #d9534f;
        text-decoration: none;
    }

        .delete-link:hover {
            color: darkred;
        }

    .card {
        background: #f9f9f9;
        transition: .5s;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        padding: 20px;
    }

    .img-post {
        position: relative;
        overflow: hidden;
        max-height: 200px; /* Set a max height for the image */
    }

        .img-post > img {
            width: 100%; /* Set width to 100% for responsiveness */
            height: auto;
            object-fit: cover;
        }

    .user-photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-name {
        font-weight: bold;
        margin-right: 10px;
    }

    .post-date {
        color: #888;
        font-size: 12px;
    }

    .row {
        margin: 0 -15px; /* To adjust for the column padding */
    }

    .card h3 {
        text-align: center; /* Center the title */
        font-weight: bold; /* Make title bold */
        color: #333; /* Change title color */
        margin-bottom: 15px; /* Space below title */
    }

    .left-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
</style>
