@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "Appointments";
    Layout = "_AppointmentLayout";
}

<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Appointments</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Start Date & Time</th>
                                    <th>End Date & Time</th>
                                    <th>Patient</th>
                                    <th>Doctor</th>
                                    <th>Department</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!Model.Any())
                                {
                                    <tr>
                                        <td colspan="7" class="text-center text-muted">No Appointments available</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StartDateTime</td>
                                            <td>@item.EndDateTime</td>
                                            <td>@item.Patient.FullName</td>
                                            <td>@item.Doctor.FullName</td>
                                            <td>@item.DeptId</td>

                                           
                                         
                                        </tr>

                                      
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
