@model ContactFormVM


<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<ul class="bread-list">
						<li><a href="~/Home">Home</a></li>
						<li><i class="icofont-simple-right"></i></li>
						<li class="active">Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="contact-us section">
	<div class="container">
		<div class="inner">
			<div class="row">
				<div class="col-lg-6">
					<div class="contact-us-left">
						<!--Start Google-map -->
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12427.799033347203!2d31.816224308690895!3d31.408499012345693!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f9ef248dc0e907%3A0x95976a090c6e2a4!2z2K_ZhdmK2KfYtyDYp9mE2YLYr9mK2YXZhw!5e0!3m2!1sar!2seg!4v1728765292930!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						<!--/End Google-map -->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-us-form">
						<h2>Contact With Us</h2>
						<p>If you have any questions please fell free to contact with us.</p>
						<form class="form" asp-action="Index">
							<div asp-validation-summary="All" class="text-danger"></div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="name" placeholder="Name" value="@Model.FullName" asp-for="@Model.FullName">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="email" name="email" placeholder="Email" value="@Model.Email" asp-for="@Model.Email">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="phone" placeholder="Phone" value="@Model.PhoneNumber" required="" asp-for="@Model.PhoneNumber">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" name="subject" placeholder="Subject" asp-for="@Model.Subject" required="">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<textarea name="message" placeholder="Your Message" asp-for="@Model.Message" required=""></textarea>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group login-btn">
										<button class="btn" type="submit">Send</button>
									</div>
									<div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox" asp-for="@Model.SubscribeNewsletter">Do you want to subscribe our Newsletter ?</label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-info">
			<div class="row">
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-ui-call"></i>
						<div class="content">
							<h3>+(000) 1234 56789</h3>
							<p>info@company.com</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont-google-map"></i>
						<div class="content">
							<h3>2 Fir e Brigade Road</h3>
							<p>Chittagonj, Lakshmipur</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-wall-clock"></i>
						<div class="content">
							<h3>Mon - Sat: 8am - 5pm</h3>
							<p>Sunday Closed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.custom-swal-popup {
		font-size: 15px;
	}

	.custom-swal-title {
		font-size: 20px;
	}

	.custom-swal-content {
		font-size: 17px;
	}

</style>


@section Scripts {
	@{
	    await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	@if (TempData["SuccessMessage"] != null)
	{
		<script type="text/javascript">
			Swal.fire({
				title: 'Message Sent!',
				text: '@TempData["SuccessMessage"]',
				imageUrl: "/img/Mail.gif",
				imageWidth: 200,  
				imageHeight: 200,  
				confirmButtonText: 'OK',
				showCancelButton: false,  
				input: null,  
				showInput: false,
				customClass: {
					title: 'custom-swal-title',
					popup: 'custom-swal-popup',
					content :'custom-swal-content'
				}
			});
		</script>
	}
}

