@model X.PagedList.IPagedList<MedicalRecord>

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Your Medical Records</h2>
                    <ul class="bread-list">
                        <li><a href="~/Home">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Medical Records</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<style>
    .card {
        border-radius: 15px;
        height: 350px;
        transition: transform 0.2s; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

        .card:hover {
            transform: translateY(-10px); 
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
        }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button-container {
        display: flex;
        justify-content: center; 
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var record in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img src="~/@record.Doctor.Img" alt="Doctor Photo" class="rounded-circle" width="50" height="50" />
                            <div class="ml-3">
                                <h5 class="mb-0">Doctor: @record.Doctor.FullName</h5> 
                            </div>
                        </div>


                        <p><strong>Diagnosis:</strong> @record.Diagnosis</p>
                        <p><strong>Treatment:</strong> @record.Treatment</p>
                        <div class="feedback-date" style="font-size: 14px; color: #888;">
                            <p><strong>Date of Entry: </strong><i class="fa fa-calendar"></i> @record.DateOfEntry.ToString("dddd, MMMM d,h:mm tt")</p>
                        </div>
                        
                        <div class="button-container">
                            <a href="@Url.Action("Details", "MedicalRecord", new { area = "Doctors", id = record.Id })" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />
<div class="pagination-container" style="text-align: center;">
    @if (Model.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="btn btn-outline-primary">Previous</a>
    }
    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="btn btn-outline-primary">See More</a>
    }
</div>
<br />
