@model NurseVM

@{
    ViewData["Title"] = "Create";
    Layout = "_NurseLayout";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Nurse</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name <span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" type="text" required />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username<span class="text-danger">*</span></label>
                                <input asp-for="UserName" class="form-control" type="text" required />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input asp-for="Email" class="form-control" type="email" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <input asp-for="PasswordHash" class="form-control" type="password" required />
                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" type="date" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-select">
                                <label class="gen-label">Gender:</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" name="gender" value="Male" class="form-check-input" id="Male">Male
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" asp-for="Gender" name="gender" value="Female" class="form-check-input" id="Female">Female
                                    </label>
                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="City" class="form-control" type="text" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input asp-for="ZipCode" type="text" class="form-control" required />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                    <div class="col-sm-6 ">
                            <div class="form-group">
                                <label>Phone</label>
                                <input asp-for="PhoneNumber" class="form-control" type="text" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DepartmentID" class="control-label">Department</label>
                                <select asp-for="DepartmentID" class="form-control" id="DepartmentSelect">
                                    <option value="">Select Department</option>
                                    @foreach (var department in Model.Departments)
                                    {
                                        <option value="@department.Id">@department.DepartmentName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DoctorID" class="control-label">Doctor</label>
                                <select asp-for="DoctorID" class="form-control" id="DoctorSelect">
                                    <option value="">Select Doctor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Avatar</label>
                                <div class="profile-upload">
                                    <div class="upload-img">
                                        <img src="~/assets/img/user.jpg" alt="Default Image" id="ImagePreview" />
                                    </div>
                                    <div class="upload-input">
                                        <input asp-for="Img" type="file" class="form-control" id="imgfile" onchange="Image(event);" name="Img" />
                                    </div>
                                    <span asp-validation-for="Img" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Create Nurse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var Image = function (event) {
            var img = document.getElementById("ImagePreview");
            img.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var doctors = [
        @foreach (var doctor in Model.Doctors)
        {
            <text>{id: '@doctor.Id', name: '@doctor.FullName departmentId: '@doctor.DepartmentId' }, </text>
        }
                    ];
            $('#DepartmentSelect').change(function () {
                var selectedDepartmentId = $(this).val();
                $('#DoctorSelect').empty();

                if (selectedDepartmentId) {
                    var filteredDoctors = doctors.filter(function (doctor) {
                        return doctor.departmentId === selectedDepartmentId;
                    });

                    $('#DoctorSelect').append('<option value="">Select Doctor</option>');
                    $.each(filteredDoctors, function (index, doctor) {
                        $('#DoctorSelect').append('<option value="' + doctor.id + '">' + doctor.name + '</option>');
                    });
                } else {
                    $('#DoctorSelect').append('<option value="">Select Doctor</option>');
                }
            });
        });
    </script>

}